*{
  margin: 0; padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  /* color: seashell; */
}

.header {
display: flex;
height: 69px;
border-bottom: 1px solid black;
width: 100%;
align-items: center;
flex-wrap: wrap;
}

.company {
  font-family: Great Vibes;
  font-size: 50px;
  flex-grow: 1;
  padding: 10px;
}

.navigation a {
  padding: 10px;
}


.mission {
display: flex;
height: 700px;
width: 1200px;
background-image: url(../images/mission-background.jpg);
align-items: center;
margin: auto;
}

.mission_text {
  display: flex;
  background-color: black;
  height: 100px;
  width: 100%;
  color: seashell;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.tea {
  width: 1000px;
  margin: 75px auto 10px auto;
  text-align: center;
  justify-content: center;
}

.tea h4{
  padding: 10px;
}

.row2{
display: flex;
justify-content: space-between;
}

.row2 img {
height: 200px;
width: 300px;
}

.row3{
display: flex;
justify-content: center;
}

.row3 img {
height: 200px;
width: 300px;
padding: 0 25px;
margin: auto;
}
